body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eaeaea;
}

/* Traffic Box */
.loader {
  width: 70px;
  height: 190px;
  background-color: #858282;
  border-radius: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

/* Light Circle */
.loader-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  filter: brightness(0.2);   /* OFF state */
  transition: 0.3s;
}

/* Individual Colors */
#red { background-color: red; }
#yellow { background-color: rgb(255, 200, 0); }
#green { background-color: rgb(36, 182, 0); }

/* Active Light */
.active {
  filter: brightness(1.6);
  box-shadow: 0 0 20px white;
}

/* Button */
button {
  padding: 10px 22px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Click */
button:active {
  transform: scale(0.97);
}
